@import url(https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;

0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans Condensed", sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  margin: 0 auto;
  max-width: 1250px;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  padding: 0 20px;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header .logo img {
  max-height: 80px;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  padding: 40px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}

header nav ul li a:hover,
header nav ul li a.active {
  color: #0f7cec;
  border-bottom: 4px solid #0f7cec;
  transition: 0.3s;
}

